body{
    background-color: #fffbe6;
}
h1,h2,h3{
    font-family: Helvetica, Arial, sans-serif;
}
button{
    user-select: none;
}

#MainHeading {
    text-align: center;
    color: #356859;
    margin:0px 0px 0px 0px;
    padding: 8px;
    border-style: solid;
    border-color: #356859;
    border-width: 0px 0px 2px 0px;
}

#ItemsSearchInput{
    display: block;
    margin: 6px auto 4px auto;
    width: 100%;
    max-width: 480px;
    border:none;
    box-sizing: border-box;
    background-color: #efebd6;
    border-radius: 4px;
    outline: none;
    color: #fd5523;
    font-size: 18px;
    text-align: center;
    padding: 10px;
}

#ItemsSearchInput::placeholder{
    color:#fd5523;
    opacity: 1;
}